.hero__wrap {
    margin: 0 auto;
    text-align: center;
    width: 360px;
}

.hero-section {
    padding: 118px 0;
}

.hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: pink;
}